$color : #299f29;

.login2fa-dialog{
    background-color: rgba(0, 0, 0, 0.144);
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    z-index: 200;
    align-content: center;
    overflow: auto;
    padding: 5px;

    .login2fa-con {
        background-color: white;
        width: min(400px, 100%);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 20px;
        gap: 20px;
        margin: auto;

        .login2fa-header {
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .login2fa-header-div {
                position: relative;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;


                h3 {
                    padding: 0 35px;
                    font-weight: 600;
                    cursor: context-menu;
                    color: $color;
                }

                i {
                    transition: all .16s linear;
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    border-radius: 3px;
                    padding: 3px;
                    color: $color;
                    font-size: 18px;
                    font-weight: 600;

                    &:hover {
                        background-color: $color;
                        color: white;
                    }
                }
            }

            .message {
                font-size: 14px;
                font-weight: 600;
                color: $color;
                text-align: center;
            }
        }

        .otp {
            // background-color: red;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;


            .otp-box {
                // background-color: aqua;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                gap: 5px;

                input[type=text] {
                    border-radius: 5px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    color: $color;
                    border: none;
                    font-size: 20px;
                    border: 2px solid rgba(0, 128, 0, 0.251);
                    outline: none;
                    transition: all .12s linear;

                    &:hover,
                    &:focus,
                    &:not(:placeholder-shown) {
                        border: 2px solid $color;
                    }
                }
            }

            .error{
                color: red;
                font-size: 15px;
                font-weight: 500;
            }

            button {
                background-color: white;
                color: $color;
                width: 100%;
                padding: 10px;
                border-radius: 30px;
                font-size: 15px;
                font-weight: 650;
                cursor: pointer;
                transition: all .15s linear;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid $color;

                &:hover {
                    background-color: $color;
                    color: white;
                }
                &:has(.loader){
                    background-color: $color;
                }

                &>.loader{
                    color: white;
                }
            }

            &>.reset2fa{
                // background-color: aqua;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>div:first-child{
                    // background-color: red;
                    font-size: 13px;
                    font-weight: 600;
                    color: $color;
                }

                &>div:last-child{
                    background-color: $color;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 5px;
                    color: white;

                    &>.loader{
                        color: white;
                    }
                }
            }
        }
    }
}