.delete-container {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  padding: 10px;
  overflow: auto;
  z-index: 200;
}
.delete-container .delete-account {
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.153) 0px 1px 5px;
  width: min(100%, 500px);
}
.delete-container .delete-account .delete-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  color: red;
}
.delete-container .delete-account .delete-header i {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: #299f29;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.12s linear;
}
.delete-container .delete-account .delete-header i:hover {
  background-color: #299f29;
  color: white;
}
.delete-container .delete-account .delete-message {
  background-color: #c3e4c3;
  padding: 15px;
  border-radius: 10px;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}
.delete-container .delete-account .delete-message p:nth-child(1) {
  font-weight: 650;
  color: #299f29;
}
.delete-container .delete-account .delete-message p:nth-child(1) i {
  font-size: 17px;
}
.delete-container .delete-account .delete-message p:nth-child(2) {
  margin-left: 23px;
  color: #299f29;
  font-weight: 500;
  font-size: 14px;
}
.delete-container .delete-account form > .twofaotp {
  color: #299f29;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.delete-container .delete-account form > .twofaotp > .message {
  font-size: 16px;
  font-weight: 600;
  cursor: context-menu;
  text-align: center;
}
.delete-container .delete-account form > .twofaotp > .input-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delete-container .delete-account form > .twofaotp > .input-div > div:first-child {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  width: min(100%, 400px);
  margin: auto;
}
.delete-container .delete-account form > .twofaotp > .input-div > div:first-child > input {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgba(41, 159, 41, 0.537254902);
  color: #299f29;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.delete-container .delete-account form > .twofaotp > .input-div > div:first-child > input:hover, .delete-container .delete-account form > .twofaotp > .input-div > div:first-child > input:focus, .delete-container .delete-account form > .twofaotp > .input-div > div:first-child > input:not(:placeholder-shown) {
  border: 2px solid #299f29;
}
.delete-container .delete-account form > .twofaotp > .input-div > div:last-child {
  width: min(100%, 400px);
  margin: auto;
  color: red;
  font-size: 14px;
  font-weight: 600;
  cursor: context-menu;
}
.delete-container .delete-account form .buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
}
.delete-container .delete-account form .buttons .cancel,
.delete-container .delete-account form .buttons .delete {
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}
.delete-container .delete-account form .buttons .cancel {
  border: none;
  background-color: transparent;
  color: #299f29;
  padding: 10px 20px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.12s linear;
}
.delete-container .delete-account form .buttons .cancel:hover {
  background-color: #299f29;
  color: white;
}
.delete-container .delete-account form .buttons .delete {
  background-color: white;
  color: red;
  width: 140px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  transition: all 0.12s linear;
  font-size: 14px;
  font-weight: 600;
}
.delete-container .delete-account form .buttons .delete:hover {
  background-color: red;
  color: white;
}