$color : #299f29;

.login-con {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.119);
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    padding: 5px;
    overflow: auto;
    z-index: 1000;


    .popup {
        margin: auto;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.111) 0px 7px 29px 0px;
        width: min(500px, 100%);

        .login-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            position: relative;

            i {
                background-color: white;
                text-align: end;
                padding: 5px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 5px;
                color: $color;
                cursor: pointer;
                transition: all .12s linear;
                align-self: flex-end;
                position: absolute;
                // background-color: red;
                right: -25px;
                top: -25px;

                &:hover {
                    background-color: $color;
                    color: white;
                }

            }

            h2 {
                // background-color: $color;
                // font-size: 14px;
                font-weight: 600;
                cursor: context-menu;
                color: $color;
            }
        }

        .body {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .common {
                // background-color: red;
                justify-content: center;
                transition: all .12s linear;
                display: flex;
                flex-direction: column;
                gap: 5px;


                &>div:first-child {
                    border: 1px solid rgba(0, 128, 0, 0.237);
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    overflow: hidden;

                    &:hover {
                        border: 1px solid $color;

                        input::placeholder {
                            color: $color;
                        }

                        i {
                            color: $color;
                        }

                    }

                    &:has(input:not(:placeholder-shown)) {
                        border: 1px solid $color;

                        i {
                            color: $color;
                        }
                    }

                    &:has(input:focus) {
                        border: 1px solid $color;

                        i {
                            color: $color;
                        }

                        input::placeholder {
                            color: $color;
                        }
                    }

                    input {
                        width: 100%;
                        font-weight: 500;
                        font-size: 14px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding: 12px;
                        color: $color;

                        &::placeholder {
                            color: rgba(0, 128, 0, 0.585);
                        }
                    }

                    i {
                        flex-shrink: 0;
                        padding: 10px;
                        font-size: 20px;
                        font-weight: 600;
                        cursor: context-menu;
                        color: rgba(0, 128, 0, 0.584);
                    }
                }

                &>div:last-child {
                    color: red;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .forgot {
                margin-left: auto;
                font-size: 12px;
                color: $color;
                cursor: pointer;
                transition: all .12s linear;
                font-weight: 600;


                &:hover {
                    color: $color;
                }
            }

            button[type=submit],
            button {
                border-radius: 200px;
                padding: 10px;
                font-size: 16px;
                font-weight: 600;
                background-color: white;
                color: $color;
                cursor: pointer;
                transition: all .12s linear;
                border: 1px solid rgba(0, 128, 0, 0.273);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: $color;
                    color: white;
                    border: 1px solid $color;

                    .circularprogress {
                        color: white;
                    }
                }

                .circularprogress {
                    color: $color;
                }
            }
        }

        .register {
            background-color: white;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            cursor: context-menu;
            margin-bottom: 20px;
            color: $color;

            span {
                color: $color;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .or {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0;

            span:not(:nth-child(2)) {
                border-top: 1px solid $color;
                width: 100%;
            }

            span:nth-child(2) {
                color: $color;
                padding: 0 10px;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .google {
            // background-color: red;
            color: $color;
            border-radius: 100px;
            padding: 8px;
            font-size: 16px;
            font-weight: 550;
            border: 1px solid $color;
            cursor: pointer;
            transition: all .12s linear;
            display: flex;
            justify-content: center;
            align-items: center;


            &:hover {
                border: 1px solid $color;
                background-color: $color;
                color: white;

                .circularprogress {
                    color: white;
                }
            }

            i {
                padding-right: 5px;
                font-size: 20px;
                font-weight: 600;
            }

            .circularprogress {
                color: $color;
            }
        }
    }
}